.tableTitle{
    width: 160px;
    height: 40px;
    background-color: black;

    color: white;
    text-align: left;
    padding-left: 10px;;
}

.activate_card{
    position: relative;
    border-color: black;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    width:800px;
    height: 500px;
    
}
.table{
    position: absolute;
    max-height: 400px;
    max-width:700px;
    margin-top: 20px;
    margin-left: 50px;

}