.app_settings{
    display: flex;
    padding: 35px 0px 10px 0px;
}

.t1{
    padding-left: 15px;
    color: #3F51B5;
    cursor: pointer;
}

.appsetting_card{
    margin: 0 auto;
    // width: 900px;
    width: 100%;
    text-align: center;
    // padding-left: 20px;
    margin-bottom: -10px;
}
